# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Pygame assets cache
assets/cache/
